<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>RESCHEDULE COLLECTION</title>
  </head>
  <body>
    <h2>[RESCHEDULE] Collection</h2>
    <p>Dear {{name}},</p>

    <p>
      Shall you have any enquiries or face any technical issues, kindly contact 
    </p>

    <p>Thank you!</p>
  </body>
</html>